[
  {
    "scope": "https://swapi.dev:443",
    "method": "GET",
    "path": "/api/people/3/",
    "body": "",
    "status": 200,
    "response": {
      "name": "R2-D2",
      "height": "96",
      "mass": "32",
      "hair_color": "n/a",
      "skin_color": "white, blue",
      "eye_color": "red",
      "birth_year": "33BBY",
      "gender": "n/a",
      "homeworld": "http://swapi.dev/api/planets/8/",
      "films": [
        "http://swapi.dev/api/films/1/",
        "http://swapi.dev/api/films/2/",
        "http://swapi.dev/api/films/3/",
        "http://swapi.dev/api/films/4/",
        "http://swapi.dev/api/films/5/",
        "http://swapi.dev/api/films/6/"
      ],
      "species": [
        "http://swapi.dev/api/species/2/"
      ],
      "vehicles": [],
      "starships": [],
      "created": "2014-12-10T15:11:50.376000Z",
      "edited": "2014-12-20T21:17:50.311000Z",
      "url": "http://swapi.dev/api/people/3/"
    },
    "rawHeaders": [
      "nginx/1.16.1",
      "Thu, 11 Feb 2021 13:34:53 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "ETag",
      "\"ea2c6a2503bc72743781e28d84961e0d\"",
      "Allow",
      "GET, HEAD, OPTIONS",
      "SAMEORIGIN",
      "*",
      "max-age=15768000"
    ],
    "responseIsBinary": false
  }
]
